+b('layout')
  position: relative
  padding: 83px 50px 63px;
  height: 100%
  display: flex
  flex-direction: column
  line-height: 1.5
  +e('offer')
    margin: auto 0
  +e('appeal')
    display: block
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
  +e('advantages')
    font-size: 16px
    line-height: 1.4
    margin: auto 0 68px
  +e('footer')
    margin: auto 0 0
    text-align: center
  +e('title')
    margin: 0 0 30px
    font-size: 38px;
    display: block;
    text-align: center;
  +e('descript')
    line-height: 1.5
  p
    margin 15px 0