+b('icon')
  display: inline-block;
  background: center center no-repeat;
  background-size: 100% 100%;
  +m('check')
    background-image url("../img/i/check.svg")
  +m('arrow', 'up')
    background-image url("../img/i/arrow-up.svg")
  +m('arrow', 'down')
    background-image url("../img/i/arrow-down.svg")
  +m('arrow', 'left')
    background-image url("../img/i/arrow-left.svg")