$font-size-root   = 14px
$font-family-root = 'Boxed'
$font-weight-root = 300
// Variable to store `@media` blocks
$media-size       = { xs: null, sm: null, md: null, lg: null }

$color-primary          = #61b7c1
$color-secondary        = #043f5f
$color-accent           = #f15e54

$color-primary-fonts    = #ffffff
$color-secondary-fonts  = #44667f

$color-black            = #000000
$color-white            = #ffffff

$size_layout = 50%