mixin logo
  .b_logo&attributes(attributes)
    .e_image
      a.link__seo(href='#') ABbolin Studio. Создание landing page. Cайтов. Интернет-магазинов. Реклама в интернете: SMM. SEO. Контекстная реклама.
      img(src='img/logo.svg')
    p.e_text [ ABbolin Studio Web ]
    .e_preload