+b('layout-page-fix')
  position: absolute
  top: 0
  height: 100%;
  width: 50%
  z-index: 2
  overflow: hidden
  +m('secondary')
    left: 0
    background-color: $color-secondary
  +m('primary')
    right: 0
    background-color: $color-primary
