mixin slide-nav_home
  a.b_btn-control.m_slide-nav.m_slide-nav_home&attributes(attributes)(mix="block:effects mods:[waves], block:btn mods:[link]" style='visibility: hidden;')
    span.b_icon.m_arrow_left