+b('navigation-control')
  size = 38px
  height = 9px
  width = (size / 2)
  line_size = 1px
  line_color = $color-secondary
  line_radius = line_size
  to_translate = ((height - line_size) / 2)
  effect_sec = 0.25s
  effect = ease-in-out

  position: relative
  height: size
  width: size
  overflow: hidden
  +e('icon')
    display block
    position: absolute
    width: width
    height: height
    top: 0
    left: 0
    bottom 0
    right 0
    margin: auto
  +e('line')
    display block
    position: absolute
    left: 0
    background-color: line_color
    height: line_size
    width: 100%
    border-radius: line_radius
    pointer-events: none
    +m('1')
      top: 0
      transition: all effect_sec effect
    +m('2')
      top: 0
      bottom: 0
      margin: auto
      transition: transform effect_sec effect
      &:before
        content: ''
        position: absolute
        left: 0
        width: 100%
        height: line_size
        background-color: line_color
        border-radius: line_radius
        transition: transform effect_sec effect
    +m('3')
      bottom: 0
      transition: all effect_sec effect
  &.active
    & .navigation-control__line--1
      opacity: 0
      transform: translate3d(-2*to_translate, 0, 0)
      transition: all effect_sec effect
    & .navigation-control__line--2
      transform: rotate(45deg)
      transition: transform effect_sec effect
      &:before
        transform: rotate(-90deg)
        transition: transform effect_sec effect
    & .navigation-control__line--3
      opacity: 0
      transform: translate3d(2*to_translate, 0, 0)
      transition: all effect_sec effect